
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.body_container > *{
 margin: 10px;
}
form{
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: yellow;
    justify-content: center;
}
.section{
 display: flex;
 flex-direction: row;
 height: 50%;
 width: 45%;
 background-color: yellow;
 border-radius: 10px;
}
.submit{
   
}

.section_one{
    padding: 10px;
   display: flex;
   flex:0.5;
   flex-direction: row;
}
.section_two{
    padding: 10px;
 flex:0.5;
 min-width: 200px;
 display: flex;
 flex-direction: column;
}
.userimage{
    flex:0.8;
}
img{
 width: 80%;
 height: 80%;
}
